* {
    margin: 0%;

}
body {
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
justify-content: center;
}
.head {
    background-color: black;
    height: 30vh;
    width: 10vw;
    border-radius: 20%;
   margin: 200px 0 0 800px;
   padding-top: 40px;
   border-bottom: 200px white;
  
}
.face {
    background-color:rgb(225, 226, 169);
    height: 20vh;
    width: 5vw;
    border-radius: 40%;
    margin: 0 0 0 25%;
    
    
}
.neck {
    width: 20%;
    height: 40%;
    margin-left: 75px;
    background-color:rgb(225, 226, 169) ;
    border-radius: 30%;
}
.body {
    background-color: rgb(68, 99, 7);
    height: 20vh;
    width: 20vw;
    margin-left: 800px;
    border-radius: 70px;
}

